# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Databases & Cache
*.db
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
.env

# Node / React (Frontend)
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
